#wrap{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

#sec01{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'en';
}

.top_txt{
    width: calc(100% - 180px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 40px;
    letter-spacing: 2px;
}

.middle_txt{
    width: 100%;
}

.main_txt{
    font-size: 80px;
    letter-spacing: 8px;
    position: relative;
    margin-left: 90px;
}

.main_txt::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    top: 10px;
}

.line{
    width: 610px;
    height: 1px;
    background-color: #ffffff;
    margin: 20px 0;
}

.sub_txt{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    letter-spacing: 2px;
    line-height: 38px;
}

.bottom_txt{
    margin-bottom: 40px;
    letter-spacing: 2px;
}

#sec02{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




