#wrap{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

#sec01{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.top_txt{
    width: calc(100% - 320px);
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'en';
}

.middle_txt{
    width: 100%;
}

.main_txt{
    font-size: 100px;
    letter-spacing: 8%;
    position: relative;
}

.main_txt::after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    top: -20px;
    right: -30px;
}

.line{
    width: 500px;
    height: 1px;
    background-color: #ffffff;
    margin: 30px 0;
}

.sub_txt{
    font: 30px 'en';
    display: flex;
    flex-direction: row;
}


