#wrap{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec01, #sec04{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'en';
}

.top_txt{
    width: calc(100% - 180px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'en';
}

.middle_txt{
    width: 100%;
}

.main_txt{
    font-size: 80px;
    letter-spacing: 8px;
    position: relative;
    margin-left: 90px;
}

.main_txt::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    top: 10px;
}

.line{
    width: 610px;
    height: 1px;
    background-color: #ffffff;
    margin: 10px 0;
}

.sub_txt{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    letter-spacing: 2px;
    line-height: 36px;
    margin-top: 20px;
}

.bottom_txt{
    margin-bottom: 40px;
    letter-spacing: 2px;
    font-size: 14px;
}

#sec02{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.int_txt{
    width: 100px;
    height: 450px;
}

.bottom_de{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg_round{
    position: absolute;     
    bottom: 0;
    left: 0;
    width: 100%;
    height: 145px;
    background: #b6b6b6;
    border-top-left-radius: 200% 800px;
    border-top-right-radius: 200% 800px;
}

.key_wrap{
    width: calc(100% - 180px);
    position: relative;
}

.key{
    padding: 8px 20px;
    border-radius: 120px;
    background-color: #727272;
    font-family: 'en';
    letter-spacing: 2px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
}

.key_wrap:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(216, 67, 67,0.4);
    border-radius: 50%;
    top: -123px;
    left: 259px;
    filter: blur(2px);
}

.key_wrap::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgba(216, 67, 67,0.4);
    border-radius: 50%;
    top: -95px;
    right: 230px;
    filter: blur(5px);
}

#DIGITAL{bottom: 28px; left: 0; transform: rotate(20deg);}
#INFINITE{bottom: 41px; left: 193px; transform: rotate(8deg); background-color: #c8c8c8; border: 1px solid #ffffff;}
#INTERFACE{bottom: 128px; left: 76px; transform: rotate(11deg); background-color: rgba(200, 200, 200, 0.4); border: 1px solid #ffffff;}
#DIGITAL2{bottom: 61px; left: 50%; margin-left: -200px; transform: rotate(-20deg); background-color: #3c3c3c;}
#DESIGNER{bottom: 37px; right: 50%; margin-right: -232px; transform: rotate(-7deg); background-color: #d9d9d9; border: 1px solid #ffffff;}
#GROWTH{bottom: 120px; right: 50%; margin-right: -103px; transform: rotate(11deg); background-color: transparent; border: 1px solid #ffffff;}
#UIUX{bottom: 103px; right: 105px; transform: rotate(-15deg); background-color: #3f3f3f; border: 1px solid #ffffff;}
#USER{bottom: 40px; right: 0; transform: rotate(-11deg); background-color: transparent; border: 1px solid #ffffff;}

#sec03{
    width: calc(100% - 180px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.con_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: 1px solid #999999;
    margin-top: 200px;
    position: relative;
}

.con_wrap:after{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 71px;
    right: -4px;
    background-color: #ffffff;
}

.con_wrap::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 71px;
    left: -4px;
    background-color: #ffffff;
}

.contents{
    font-family: 'en';
    font-size: 40px;
    letter-spacing: 2px;
}

.right_con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.con01, .con02{
    padding: 8px 20px;
    border-radius: 120px;
    background-color: #2f2f2f;
    font-family: 'ko';
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con01{
    margin-right: 20px;
}

.con_seq{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #3d3d3d;
}

.con_seq:last-child{
    border-color: #999999;
}

.con_num{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'en2';
    font-size: 24px;
}

.con_title{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.con_b_title{
    font-family: 'ko';
    font-size: 16px;
    margin-bottom: 8px;
}

.con_s_title{
    font-family: 'ko';
    font-size: 14px;
    color: #cccccc;
}

.con_view{
    font-family: 'en';
    font-size: 14px;
    width: 10%;
}

.con_view p{
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #777777;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 5px 5px 3px #777777;
}

.middle_txt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'ko';
    font-size: 24px;
}