#wrap{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

#sec01{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.top_txt{
    width: calc(100% - 320px);
    height: 1080px;
    display: flex;
    flex-direction: column;
}

