* {margin: 0; padding: 0; }
a {text-decoration: none; color: #ffffff;}
ul,li {list-style: none;}

 @font-face {
        font-family: 'en';
        src: url(../font/MaruBuri-Regular.otf);
    }

    @font-face {
        font-family: 'en2';
        src: url(../font/MaruBuri-SemiBold.otf);
    }

    @font-face {
        font-family: 'ko';
        src: url(../font/Pretendard-Regular.otf);
    }

     @font-face {
        font-family: 'ko2';
        src: url(../font/Pretendard-Medium.otf);
    }